@import "colors";

.itls-styled {
  .jumbotron-apply {
    background-size: cover;
    h1, p {
      color: white;
    }
    padding: 6vw;
  }

  .button-apply {
    text-transform: uppercase;
    padding: 8px 16px;
    letter-spacing: 0.15em;
    border-radius: 5px;
    display: inline-block;
    font-size: 13px;
  }
  .button-apply-white {
    color: black;
    background-color: white;
    border: 1px solid black;
  }
  .button-apply-black {
    color: white;
    background-color: $dark-blue;
  }
  .button-apply-outline {
    color: black;
    border: 1px solid black;
  }

  .apply-info-packet {
    float: left;
    width: 70px;
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .apply-us-news {
    text-align: center;
    img {
      width: 150px;
    }
  }

  .apply-collapse-section {
    .html5-article {
      div {
        overflow-y:hidden;
        transition: opacity .5s ease-in-out;
        opacity:1;
      }
      h4 {
        background-color: $separator-gray;
        font-weight: bold;
        padding: 10px;
        font-size: 15px;
        border-radius: 5px;
        font-family: Lato;
      }
      a {
        h4 {
          color: #0865BF;
          text-decoration:none;
          transition: opacity .5s ease-in-out;
          position:relative;
          &:after{
            content: '';
            background: url(https://itls.usu.edu/ariswork/img/down-arrow.png);
            background-size: 24px 13px;
            width: 24px;
            height: 13px;
            display: block;
            float: right;
            margin-top: 6px;
            margin-right: 5px;
          }
        }
        &:hover {
          text-decoration: none;
          h4 {
            transform: scale(1.008);
          }
        }
      }
      &.apply-collapse-open {
        a{
          h4 {
            &:after{
              transform: rotate(180deg);
            }
          }
        }
      }
      &:not(.apply-collapse-open) {
        div {
          height:0;
          opacity:0;
        }
      }
    }
  }

  .registration-codes {
    width: 100%;
    th {
      border-bottom: 2px solid #ccc;
    }
    td {
      border-top: 1px solid #ccc;
    }
    th, td {
      padding: 5px;
    }
    margin: 20px;
  }
}
