$dark-blue: rgba(14,36,57,1.0);
$dark-blue-hover: rgba(14,36,57,0.6);
$light-blue: rgba(147,171,194,1.0);
$light-blue-hover: rgba(147,171,194,0.8);
$lighter-blue: #C7D1DA;
$separator-gray: #EBF2F8;
$sub-gray: #93AEC5;

$table-odd: rgb(233, 238, 241);
$table-even: rgb(207, 226, 243);
