.itls-styled {
  .jumbotron-course {
    background-image: url('../img/course-hero.jpg');
    background-size: cover;
    h1, p {
      color: white;
    }
    padding: 50px;
    position: relative;
    .jumbotron-breadcrumbs {
      position: absolute;
      top: 0;
      left: 0;
      font-family: League Spartan;
      font-size: 15px;
      letter-spacing: 0.07em;
      margin: 15px;
      a {
        color: white;
      }
      .breadcrumb-arrow {
        margin: 0 8px;
      }
    }
  }
}
