@import "colors";

@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face {
    font-family: 'League Spartan';
    src: url('https://itls.usu.edu/ariswork/fonts/leaguespartan-bold.eot');
    src: url('https://itls.usu.edu/ariswork/fonts/leaguespartan-bold.eot?#iefix') format('embedded-opentype'),
         url('https://itls.usu.edu/ariswork/fonts/leaguespartan-bold.woff2') format('woff2'),
         url('https://itls.usu.edu/ariswork/fonts/leaguespartan-bold.woff') format('woff'),
         url('https://itls.usu.edu/ariswork/fonts/leaguespartan-bold.ttf') format('truetype'),
         url('https://itls.usu.edu/ariswork/fonts/leaguespartan-bold.svg#league_spartanbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

.itls-styled {
  h1, h2, h3, h4 {
    font-family: League Spartan;
    font-weight: bold;
    letter-spacing: 0.05em;
    line-height: 1.7em;
    margin-top:5px;
    &.subheader {
      color: $sub-gray;
    }
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 18px;
    font-family: Lato;
    margin-top: 20px;
  }
  p {
    font-family: Lato;
    font-size: 16px;
    line-height: 24px;
    margin: 20px 0px 28px 0px;
    letter-spacing: 0.03em;
    .bold {
      font-weight: 600;
    }
  }
  ul, ol:not(.carousel-indicators) {
    font-family: Lato;
    font-size: 15px;
    line-height: 28px;
    margin: 20px 0;
    letter-spacing: 0.03em;
    padding-left:0px;
  }
}
