@import "colors";

.itls-styled {
  .jumbotron {
    margin: 0;
    background-color: white;
    position: relative;
    min-height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-position: right;
    padding-left:6vw;
    .info {
      margin-top:-5vw;
      @media #{$break-sm} {
        margin-top:5vw;
      }
      h1 {
        margin-bottom:0px;
        line-height:60px;
        font-size:45px;
      }
      p {
        margin-bottom:10px;
      }
    }
  }
  .jumbotron-breadcrumbs {
    position: absolute;
    top: 0;
    left: 0;
    font-family: League Spartan;
    font-size: 15px;
    letter-spacing: 0.07em;
    margin: 15px;
    a {
      color: white;
    }
    .breadcrumb-arrow {
      margin: 0 8px;
    }
  }
  .people-breadcrumbs {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.07em;
    .breadcrumb-arrow img {
      width: 8px;
      margin: 4px;
      vertical-align: bottom;
    }
  }
  .jumbotron-welcome {
    min-height:70vh;
    h1 {
      color: $dark-blue;
      margin-bottom:20px;
    }
    h2 {
      color: $light-blue;
      font-size:18px;
    }
    p {
      margin:0px;
    }
    background-image: url('../img/itls-homepage-hero.jpg');
    background-size: 75%;
    background-position: bottom right;
    background-repeat: no-repeat;
    @media #{$break-sm} {
      background-size: 100%;
      justify-content: flex-start;
      min-height:80vh;
    }
  }
  .jumbotron-usnews {
    flex-direction:row;
    margin: 0 auto;
    align-items: center;
    h2 {
      color: $dark-blue;
      font-size: 25px;
    }
    p {
      font-size: 18px;
      margin: 20px 0;
    }
    .usnews-pic {
      text-align: center;
      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }
  .itls-carousel-image {
    height: 500px;
    background-size: cover;
    background-position: center;
  }
  .carousel-caption {
    text-shadow: none;
    h2 {
      color: white;
      font-size: 30px;
    }
    p a:not(.button-apply) {
      color: white;
      font-weight: bold;
      text-decoration: underline;
    }
    text-align: left;
    bottom: 100px;
  }
  .what-program {
    text-align: center;
    padding: 40px;
    h2 {
      font-size: 30px;
    }
  }
  .program-grid {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
  }
  .program-cell {
    img {
      max-width: 200px;
    }
    padding: 40px;
    h3 {
      font-size: 20px;
    }
  }
  .application-deadlines {
    margin: 50px 100px;
    @media screen and (max-width: 700px) {
      margin: 10px;
    }
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
    h2 {
      background-image: url('../img/mountain-background.jpg');
      background-size: contain;
      background-position: top center;
      background-repeat: no-repeat;
      padding: 150px 20px 50px 20px;
      color: white;
      text-align: center;
    }
    p {
      padding: 40px;
    }
    .deadlines-apply {
      text-align: center;
    }
    table {
      margin: 40px;
      @media screen and (max-width: 700px) {
        margin: 10px;
      }
      width: calc(100% - 80px);
      th {
        font-family: League Spartan;
        font-weight: bold;
        font-size: 17px;
      }
      th, td {
        padding: 20px 10px;
      }
      tr {
        &:not(:nth-child(1)) {
          border-top: 2px solid $separator-gray;
        }
      }
    }
  }
  .career-options {
    h2 {
      text-align: center;
      margin: 15px;
      font-size: 25px;
    }
    article {
      .career-option {
        display: flex;
        flex-direction:row;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
        padding: 50px;
        align-items: center;
        flex-wrap:wrap-reverse;
        & > * {
          display: flex;
          flex-direction: row;
          flex: 1;
        }
        h4 {
          margin-top:0px;
        }
        .career-icon {
          img {
            width: 50px;
            margin: 10px;
          }
        }
        .career-person {
          flex: 0.8;
          img {
            width: 100%;
            object-fit: contain;
            padding-left: 40px;
            max-width:600px;
          }
        }
      }
      .career-details {
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 700px) {
          flex-direction: column;
        }
        .career-quote {
          flex: 1;
          color: white;
          font-family: League Spartan;
          letter-spacing: 0.1em;
          font-size: 25px;
          line-height: 50px;
          padding: 60px;
          border: none;
          background-image: url('../img/quote.png');
          background-repeat: no-repeat;
          background-position: 30px 30px;
          background-size: 120px;
        }
        .career-details-main {
          flex: 1;
          color: white;
          h3 {
            color: white;
          }
          margin: 30px;
        }
        .career-details-hidden {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .itls-styled {
    .program-grid {
      grid-template-columns: auto;
    }
  }
}
