.itls-styled {
  .top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background:#fff;
    z-index:1000;
    position:sticky;
    top:0px;
    box-shadow: 0 2px 100px 0 rgba(1,15,91,0.19);
    a {
      font-family: Lato,sans-serif;
      letter-spacing: 0.15em;
      font-size: 12px;
      &.button-apply{
        &:hover {
          background:$light-blue;
        }
      }
    }
    .top-nav-left, .top-nav-right {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .top-nav-left a {
      text-transform: uppercase;
      color: black;
      padding: 20px;
      display: inline-block;
      &:hover {
        background:$separator-gray;
        text-decoration: none;
      }
    }
    .top-nav-right a {
      margin: 5px;
    }
    .top-nav-right {
      margin-right: 10px;
    }
  }
}
