@import "colors";

.itls-styled {
  .jumbotron-people {
    background-image: url('https://itls.usu.edu/ariswork/img/people-hero.jpg');
    background-size: cover;
    h1, p {
      color: white;
    }
    padding: 50px;
  }

  .people-grid {
    display: flex;
    flex-wrap:wrap;
    .person {
      border: 2px solid #E8E8E8;
      border-radius: 5px;
      margin: 10px;
      text-align: center;
      flex-basis:30%;
      flex-grow:1;
      @media #{$break-sm} {
        flex-basis:47%;
      }
      hr {
        border: none;
        border-bottom: 2px solid #E7E7E7;
        margin:8px 0px;
      }
      h3, p {
        margin: 5px;
      }
      p {
        font-size: 13px;
      }
      .person-image {
        background-color: #ddd;
        width: 150px;
        margin: 10px;
        border-radius: 5px;
      }
    }
  }

  .person-header {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    @media #{$break-sm-xs} {
      display:block;
    }
    .person-image {
      width: 30vw;
      height: 30vw;
      max-width:200px;
      max-height:200px;
      background-size: cover;
      border-radius: 999px;
    }
    .person-details {
      flex: 1;
      padding: 0 30px;
      p {
        margin:5px 0px 5px 0px;
      }
      @media #{$break-sm-xs} {
        padding:0;
      }
      .person-links {
        a {
          display: inline-block;
          margin:10px 10px 10px 0px;
        }
      }
    }
  }
  .person-contact {
    span {
      display: inline-block;
      margin:5px 10px 0px 0px;
    }
  }

  .keywords-list {
    li {
      font-style: italic;
    }
  }

  .person-content-image {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 800px) {
      flex-direction: column;
    }
    align-items: flex-start;
    img {
      max-width: 250px;
      margin-right: 25px;
      margin-bottom: 40px;
    }
    .person-content-image-text {
      flex: 1;
    }
  }
}
