@import url("https://fonts.googleapis.com/css?family=Lato");
.itls-styled .button {
  text-transform: uppercase;
  padding: 8px 12px;
  letter-spacing: 0.15em;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px;
  transition: all .1s ease-in-out;
  color: #fff; }
  .itls-styled .button.black {
    border: 1px solid #0e2439;
    color: #0e2439; }
    .itls-styled .button.black:hover {
      background-color: #0e2439;
      color: #fff;
      text-decoration: none; }
    .itls-styled .button.black.filled {
      background-color: #0e2439;
      color: #fff; }
      .itls-styled .button.black.filled:hover {
        background-color: #2875c0;
        border: 1px solid #2875c0; }
  .itls-styled .button.light-blue {
    border: 1px solid #93abc2;
    color: #93abc2; }
    .itls-styled .button.light-blue:hover {
      background-color: #93abc2;
      color: #fff;
      text-decoration: none; }
    .itls-styled .button.light-blue.filled {
      background-color: #93abc2;
      color: #fff; }
      .itls-styled .button.light-blue.filled:hover {
        background-color: rgba(147, 171, 194, 0.8);
        border: 1px solid rgba(147, 171, 194, 0.8); }

@font-face {
  font-family: 'League Spartan';
  src: url("../fonts/leaguespartan-bold.eot");
  src: url("../fonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/leaguespartan-bold.woff2") format("woff2"), url("../fonts/leaguespartan-bold.woff") format("woff"), url("../fonts/leaguespartan-bold.ttf") format("truetype"), url("../fonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

.itls-styled h1, .itls-styled h2, .itls-styled h3, .itls-styled h4 {
  font-family: League Spartan;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: 1.7em;
  margin-top: 5px; }
  .itls-styled h1.subheader, .itls-styled h2.subheader, .itls-styled h3.subheader, .itls-styled h4.subheader {
    color: #93AEC5; }

.itls-styled h2 {
  font-size: 28px; }

.itls-styled h3 {
  font-size: 20px; }

.itls-styled h4 {
  font-size: 18px;
  font-family: Lato;
  margin-top: 20px; }

.itls-styled p {
  font-family: Lato;
  font-size: 16px;
  line-height: 24px;
  margin: 20px 0px 28px 0px;
  letter-spacing: 0.03em; }
  .itls-styled p .bold {
    font-weight: 600; }

.itls-styled ul, .itls-styled ol:not(.carousel-indicators) {
  font-family: Lato;
  font-size: 15px;
  line-height: 28px;
  margin: 20px 0;
  letter-spacing: 0.03em;
  padding-left: 0px; }

.itls-styled .widthcap {
  max-width: 1200px;
  margin: 0 auto; }

.itls-styled .icon-document {
  width: 30px;
  height: 40px;
  background: url(../img/icon-document.png);
  background-size: cover;
  display: inline-block;
  margin: 0px 15px;
  vertical-align: middle;
  margin-top: -8px; }

.itls-styled section.centered {
  display: flex;
  flex-direction: row;
  align-items: center; }

.itls-styled section img {
  width: 100%;
  height: auto; }

.itls-styled .content-wrap {
  max-width: 1200px;
  margin: 0 auto !important; }

.itls-styled .spacer {
  width: 100%;
  border-top: 3px solid #EBF2F8;
  margin: 8vw 0vw;
  display: block; }

.itls-styled .top-nav {
  align-items: stretch;
  background: #fff;
  z-index: 1000;
  position: sticky;
  top: 0px;
  box-shadow: 0 2px 100px 0 rgba(1, 15, 91, 0.19); }
  .itls-styled .top-nav .nav-icon {
    display: none;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 40px;
    height: 40px;
    background: url(../img/menu-open.png) no-repeat;
    background-size: 18px 18px;
    background-position: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(1, 15, 91, 0.3);
    z-index: 1000;
    cursor: pointer; }
    .itls-styled .top-nav .nav-icon:hover {
      transform: scale(1.08); }
    .itls-styled .top-nav .nav-icon.nav-open {
      background: url(../img/menu-close.png) no-repeat;
      background-size: 18px 18px;
      background-position: center;
      position: fixed; }
    @media only screen and (max-width: 950px) {
      .itls-styled .top-nav .nav-icon {
        display: block; } }
  .itls-styled .top-nav .nav-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all .3s ease-in-out; }
    @media only screen and (max-width: 950px) {
      .itls-styled .top-nav .nav-wrap {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background: #fff;
        z-index: 1000;
        display: block;
        padding: 50px 80px;
        opacity: 0;
        transform: translateX(100vw); }
        .itls-styled .top-nav .nav-wrap.nav-open {
          transform: translateX(0);
          opacity: 1; }
        .itls-styled .top-nav .nav-wrap .top-nav-left, .itls-styled .top-nav .nav-wrap .top-nav-right {
          display: block;
          text-align: center; }
          .itls-styled .top-nav .nav-wrap .top-nav-left a, .itls-styled .top-nav .nav-wrap .top-nav-right a {
            display: block; }
            .itls-styled .top-nav .nav-wrap .top-nav-left a.button, .itls-styled .top-nav .nav-wrap .top-nav-right a.button {
              margin: 10px 10px; } }
  .itls-styled .top-nav a {
    font-family: Lato,sans-serif;
    letter-spacing: 0.15em;
    font-size: 12px; }
    .itls-styled .top-nav a.button-apply:hover {
      background: #93abc2; }
  .itls-styled .top-nav .top-nav-left, .itls-styled .top-nav .top-nav-right {
    display: flex;
    flex-direction: row;
    align-items: center; }
  .itls-styled .top-nav .top-nav-left a {
    text-transform: uppercase;
    color: black;
    padding: 20px;
    display: inline-block; }
    .itls-styled .top-nav .top-nav-left a:hover {
      background: #EBF2F8;
      text-decoration: none; }
  .itls-styled .top-nav .top-nav-right a {
    margin: 5px; }
  .itls-styled .top-nav .top-nav-right {
    margin-right: 10px; }

.itls-styled .content-columns {
  display: flex;
  flex-direction: row;
  max-width: 1800px;
  margin: 0 auto;
  font-family: Lato; }
  .itls-styled .content-columns hr {
    border: none;
    border-bottom: 3px solid #E1E9F0; }
  .itls-styled .content-columns .content-main {
    padding: 6vw;
    flex: 1; }
    .itls-styled .content-columns .content-main section {
      padding-bottom: 30px;
      margin-bottom: 50px;
      border-bottom: 3px solid #EBF2F8; }
      .itls-styled .content-columns .content-main section:last-child {
        border-bottom: none;
        margin-bottom: 0px; }
    .itls-styled .content-columns .content-main ul li {
      list-style-type: none; }
      .itls-styled .content-columns .content-main ul li:before {
        /* Unicode bullet symbol */
        content: '\2022';
        color: #9DACBA;
        display: inline-block;
        font-size: 21px;
        width: 20px;
        height: 20px;
        line-height: 45px;
        margin-left: -22px; }
    .itls-styled .content-columns .content-main li {
      margin-left: 22px; }
    .itls-styled .content-columns .content-main ol.fancy-ol {
      counter-reset: li;
      /* Initiate a counter */ }
      .itls-styled .content-columns .content-main ol.fancy-ol li {
        position: relative;
        /* Create a positioning context */
        list-style: none;
        margin: 20px 0; }
        .itls-styled .content-columns .content-main ol.fancy-ol li:before {
          content: counter(li);
          /* Use the counter as content */
          counter-increment: li;
          /* Increment the counter by 1 */
          font-family: League Spartan;
          color: #93AEC5;
          font-size: 18px;
          width: 40px;
          display: inline-block; }
  .itls-styled .content-columns .content-sidebar {
    width: 300px;
    background-color: #F5F6F7;
    padding: 30px 40px;
    position: -webkit-sticky;
    position: sticky;
    top: 20px; }
    .itls-styled .content-columns .content-sidebar section {
      margin-bottom: 40px; }
      .itls-styled .content-columns .content-sidebar section h3 {
        font-size: 16px; }
      .itls-styled .content-columns .content-sidebar section p {
        margin-bottom: 5px; }
      .itls-styled .content-columns .content-sidebar section ul {
        margin-top: 10px; }
    .itls-styled .content-columns .content-sidebar article p {
      line-height: 25px; }
    .itls-styled .content-columns .content-sidebar .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 20px; }
    .itls-styled .content-columns .content-sidebar ul {
      padding: 0; }
      .itls-styled .content-columns .content-sidebar ul li {
        list-style-type: none;
        margin: 10px 0; }

@media screen and (max-width: 850px) {
  .itls-styled .content-columns {
    flex-direction: column; }
    .itls-styled .content-columns .content-sidebar {
      width: auto; } }

.itls-styled .footer {
  background-color: #0e2439;
  color: #fff; }
  .itls-styled .footer .footer-col {
    padding: 0px 50px 50px 50px;
    margin-top: 50px;
    font-size: 16px;
    position: relative;
    height: 100%; }
    .itls-styled .footer .footer-col h3 {
      color: #fff;
      margin-bottom: 0px; }
    .itls-styled .footer .footer-col p {
      margin-top: 10px; }
    .itls-styled .footer .footer-col img {
      width: 80%;
      height: auto;
      margin: 0 auto;
      display: inline-block; }
    .itls-styled .footer .footer-col .social_links {
      position: absolute;
      bottom: 0; }
      .itls-styled .footer .footer-col .social_links .social_link img {
        display: inline;
        height: 50px;
        width: auto; }
      .itls-styled .footer .footer-col .social_links .social_link:hover {
        opacity: 0.8; }
    .itls-styled .footer .footer-col.footer-logos {
      text-align: center; }
      .itls-styled .footer .footer-col.footer-logos img {
        margin-bottom: 20px; }
      .itls-styled .footer .footer-col.footer-logos .footerbadge {
        width: 70%; }
    .itls-styled .footer .footer-col.site-map a {
      display: block;
      line-height: 26px; }
  .itls-styled .footer .global-footer {
    text-align: center; }
    .itls-styled .footer .global-footer ul {
      list-style: none; }
      .itls-styled .footer .global-footer ul li {
        display: inline; }
        .itls-styled .footer .global-footer ul li a {
          color: #fff;
          margin-right: 20px; }

.itls-styled .jumbotron {
  margin: 0;
  background-color: white;
  position: relative;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-position: right;
  padding-left: 6vw; }
  .itls-styled .jumbotron .info {
    margin-top: -5vw; }
    @media only screen and (max-width: 768px) {
      .itls-styled .jumbotron .info {
        margin-top: 5vw; } }
    .itls-styled .jumbotron .info h1 {
      margin-bottom: 0px;
      line-height: 60px;
      font-size: 45px; }
    .itls-styled .jumbotron .info p {
      margin-bottom: 10px; }

.itls-styled .jumbotron-breadcrumbs {
  position: absolute;
  top: 0;
  left: 0;
  font-family: League Spartan;
  font-size: 15px;
  letter-spacing: 0.07em;
  margin: 15px; }
  .itls-styled .jumbotron-breadcrumbs a {
    color: white; }
  .itls-styled .jumbotron-breadcrumbs .breadcrumb-arrow {
    margin: 0 8px; }

.itls-styled .people-breadcrumbs {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.07em; }
  .itls-styled .people-breadcrumbs .breadcrumb-arrow img {
    width: 8px;
    margin: 4px;
    vertical-align: bottom; }

.itls-styled .jumbotron-welcome {
  min-height: 70vh;
  background-image: url("../img/itls-homepage-hero.jpg");
  background-size: 75%;
  background-position: bottom right;
  background-repeat: no-repeat; }
  .itls-styled .jumbotron-welcome h1 {
    color: #0e2439;
    margin-bottom: 20px; }
  .itls-styled .jumbotron-welcome h2 {
    color: #93abc2;
    font-size: 18px; }
  .itls-styled .jumbotron-welcome p {
    margin: 0px; }
  @media only screen and (max-width: 768px) {
    .itls-styled .jumbotron-welcome {
      background-size: 100%;
      justify-content: flex-start;
      min-height: 80vh; } }

.itls-styled .jumbotron-usnews {
  flex-direction: row;
  margin: 0 auto;
  align-items: center; }
  .itls-styled .jumbotron-usnews h2 {
    color: #0e2439;
    font-size: 25px; }
  .itls-styled .jumbotron-usnews p {
    font-size: 18px;
    margin: 20px 0; }
  .itls-styled .jumbotron-usnews .usnews-pic {
    text-align: center; }
    .itls-styled .jumbotron-usnews .usnews-pic img {
      width: 100%;
      max-width: 250px; }

.itls-styled .itls-carousel-image {
  height: 500px;
  background-size: cover;
  background-position: center; }

.itls-styled .carousel-caption {
  text-shadow: none;
  text-align: left;
  bottom: 100px; }
  .itls-styled .carousel-caption h2 {
    color: white;
    font-size: 30px; }
  .itls-styled .carousel-caption p a:not(.button-apply) {
    color: white;
    font-weight: bold;
    text-decoration: underline; }

.itls-styled .what-program {
  text-align: center;
  padding: 40px; }
  .itls-styled .what-program h2 {
    font-size: 30px; }

.itls-styled .program-grid {
  display: grid;
  grid-template-columns: auto auto;
  text-align: center; }

.itls-styled .program-cell {
  padding: 40px; }
  .itls-styled .program-cell img {
    max-width: 200px; }
  .itls-styled .program-cell h3 {
    font-size: 20px; }

.itls-styled .application-deadlines {
  margin: 50px 100px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2); }
  @media screen and (max-width: 700px) {
    .itls-styled .application-deadlines {
      margin: 10px; } }
  .itls-styled .application-deadlines h2 {
    background-image: url("../img/mountain-background.jpg");
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 150px 20px 50px 20px;
    color: white;
    text-align: center; }
  .itls-styled .application-deadlines p {
    padding: 40px; }
  .itls-styled .application-deadlines .deadlines-apply {
    text-align: center; }
  .itls-styled .application-deadlines table {
    margin: 40px;
    width: calc(100% - 80px); }
    @media screen and (max-width: 700px) {
      .itls-styled .application-deadlines table {
        margin: 10px; } }
    .itls-styled .application-deadlines table th {
      font-family: League Spartan;
      font-weight: bold;
      font-size: 17px; }
    .itls-styled .application-deadlines table th, .itls-styled .application-deadlines table td {
      padding: 20px 10px; }
    .itls-styled .application-deadlines table tr:not(:nth-child(1)) {
      border-top: 2px solid #EBF2F8; }

.itls-styled .career-options h2 {
  text-align: center;
  margin: 15px;
  font-size: 25px; }

.itls-styled .career-options article .career-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap-reverse; }
  @media screen and (max-width: 700px) {
    .itls-styled .career-options article .career-option {
      flex-direction: column; } }
  .itls-styled .career-options article .career-option > * {
    display: flex;
    flex-direction: row;
    flex: 1; }
  .itls-styled .career-options article .career-option h4 {
    margin-top: 0px; }
  .itls-styled .career-options article .career-option .career-icon img {
    width: 50px;
    margin: 10px; }
  .itls-styled .career-options article .career-option .career-person {
    flex: 0.8; }
    .itls-styled .career-options article .career-option .career-person img {
      width: 100%;
      object-fit: contain;
      padding-left: 40px;
      max-width: 600px; }

.itls-styled .career-options article .career-details {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 700px) {
    .itls-styled .career-options article .career-details {
      flex-direction: column; } }
  .itls-styled .career-options article .career-details .career-quote {
    flex: 1;
    color: white;
    font-family: League Spartan;
    letter-spacing: 0.1em;
    font-size: 25px;
    line-height: 50px;
    padding: 60px;
    border: none;
    background-image: url("../img/quote.png");
    background-repeat: no-repeat;
    background-position: 30px 30px;
    background-size: 120px; }
  .itls-styled .career-options article .career-details .career-details-main {
    flex: 1;
    color: white;
    margin: 30px; }
    .itls-styled .career-options article .career-details .career-details-main h3 {
      color: white; }
  .itls-styled .career-options article .career-details .career-details-hidden {
    display: none; }

@media screen and (max-width: 800px) {
  .itls-styled .program-grid {
    grid-template-columns: auto; } }

.itls-styled .jumbotron-apply {
  background-size: cover;
  padding: 6vw; }
  .itls-styled .jumbotron-apply h1, .itls-styled .jumbotron-apply p {
    color: white; }

.itls-styled .button-apply {
  text-transform: uppercase;
  padding: 8px 16px;
  letter-spacing: 0.15em;
  border-radius: 5px;
  display: inline-block;
  font-size: 13px; }

.itls-styled .button-apply-white {
  color: black;
  background-color: white;
  border: 1px solid black; }

.itls-styled .button-apply-black {
  color: white;
  background-color: #0e2439; }

.itls-styled .button-apply-outline {
  color: black;
  border: 1px solid black; }

.itls-styled .apply-info-packet {
  float: left;
  width: 70px;
  margin-right: 20px;
  margin-bottom: 20px; }

.itls-styled .apply-us-news {
  text-align: center; }
  .itls-styled .apply-us-news img {
    width: 150px; }

.itls-styled .apply-collapse-section article div {
  overflow-y: hidden;
  transition: opacity .5s ease-in-out;
  opacity: 1; }

.itls-styled .apply-collapse-section article h4 {
  background-color: #EBF2F8;
  font-weight: bold;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  font-family: Lato; }

.itls-styled .apply-collapse-section article a h4 {
  color: #0865BF;
  text-decoration: none;
  transition: opacity .5s ease-in-out;
  position: relative; }
  .itls-styled .apply-collapse-section article a h4:after {
    content: '';
    background: url(../img/down-arrow.png);
    background-size: 24px 13px;
    width: 24px;
    height: 13px;
    display: block;
    float: right;
    margin-top: 6px;
    margin-right: 5px; }

.itls-styled .apply-collapse-section article a:hover {
  text-decoration: none; }
  .itls-styled .apply-collapse-section article a:hover h4 {
    transform: scale(1.008); }

.itls-styled .apply-collapse-section article.apply-collapse-open a h4:after {
  transform: rotate(180deg); }

.itls-styled .apply-collapse-section article:not(.apply-collapse-open) div {
  height: 0;
  opacity: 0; }

.itls-styled .registration-codes {
  width: 100%;
  margin: 20px; }
  .itls-styled .registration-codes th {
    border-bottom: 2px solid #ccc; }
  .itls-styled .registration-codes td {
    border-top: 1px solid #ccc; }
  .itls-styled .registration-codes th, .itls-styled .registration-codes td {
    padding: 5px; }

.itls-styled .jumbotron-course {
  background-image: url("../img/course-hero.jpg"); }

.itls-styled .jumbotron-programs {
  background-image: url("../img/pages-hero.jpg"); }

.itls-styled .jumbotron-course, .itls-styled .jumbotron-programs {
  background-size: cover; }
  .itls-styled .jumbotron-course h1, .itls-styled .jumbotron-course p, .itls-styled .jumbotron-programs h1, .itls-styled .jumbotron-programs p {
    color: white; }

.itls-styled .programs-image-para {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .itls-styled .programs-image-para img {
    max-width: 200px;
    margin: 30px; }

.itls-styled .programs-degree-table {
  background-color: #f5f6f7; }
  .itls-styled .programs-degree-table th {
    font-family: League Spartan;
    color: #0E2439; }
  .itls-styled .programs-degree-table th, .itls-styled .programs-degree-table td {
    padding: 14px 20px; }
  .itls-styled .programs-degree-table tr {
    border-bottom: 1px solid #E1E9F0; }
  .itls-styled .programs-degree-table tr:first-child {
    border-bottom: 4px solid #E9EBED; }
  .itls-styled .programs-degree-table tr:last-child {
    border-bottom: none; }

@media screen and (max-width: 600px) {
  .itls-styled .programs-image-para {
    flex-direction: column; } }

.itls-styled .jumbotron-people {
  background-image: url("../img/people-hero.jpg");
  background-size: cover;
  padding: 50px; }
  .itls-styled .jumbotron-people h1, .itls-styled .jumbotron-people p {
    color: white; }

.itls-styled .people-grid {
  display: flex;
  flex-wrap: wrap; }
  .itls-styled .people-grid .person {
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 0; }
    .itls-styled .people-grid .person hr {
      border: none;
      border-bottom: 2px solid #E7E7E7;
      margin: 8px 0px; }
    .itls-styled .people-grid .person h3, .itls-styled .people-grid .person p {
      margin: 5px; }
    .itls-styled .people-grid .person p {
      font-size: 13px; }
    .itls-styled .people-grid .person .person-image {
      background-color: #ddd;
      max-width: 150px;
      margin: 10px;
      border-radius: 5px; }

.itls-styled .person-header {
  margin-top: 30px;
  display: flex;
  flex-direction: row; }
  .itls-styled .person-header .person-image {
    width: 200px;
    height: 200px;
    background-size: cover;
    border-radius: 999px; }
  .itls-styled .person-header .person-details {
    flex: 1;
    padding: 0 30px; }
    .itls-styled .person-header .person-details .person-links a {
      display: inline-block;
      margin: 10px; }

.itls-styled .person-contact span {
  display: inline-block;
  margin: 15px; }

.itls-styled .keywords-list li {
  font-style: italic; }

.itls-styled .person-content-image {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }
  @media screen and (max-width: 800px) {
    .itls-styled .person-content-image {
      flex-direction: column; } }
  .itls-styled .person-content-image img {
    max-width: 250px;
    margin-right: 25px;
    margin-bottom: 40px; }
  .itls-styled .person-content-image .person-content-image-text {
    flex: 1; }

.itls-styled .news-content {
  display: flex;
  flex-direction: row; }
  @media screen and (max-width: 700px) {
    .itls-styled .news-content {
      flex-direction: column; } }
  .itls-styled .news-content .news-text {
    flex: 3; }
    .itls-styled .news-content .news-text p {
      line-height: 35px; }
  .itls-styled .news-content .news-image {
    flex: 2;
    padding: 20px; }

.itls-styled .news-header .news-subheader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  letter-spacing: 0.08em; }

.itls-styled .news-image {
  float: left;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 20px; }
  .itls-styled .news-image img {
    max-width: 400px; }

.itls-styled .table-deadlines {
  width: 100%; }
  .itls-styled .table-deadlines td {
    padding: 15px;
    background-color: #e9eef1;
    border: 3px solid white; }
  .itls-styled .table-deadlines tr:nth-child(2) td {
    background-color: #cfe2f3; }

.itls-styled .jumbotron-rooms {
  background-image: url("../img/design-lab-hero.jpg");
  background-size: cover;
  padding: 50px; }
  .itls-styled .jumbotron-rooms h1, .itls-styled .jumbotron-rooms p {
    color: white; }

.itls-styled .design-lab {
  background-image: url("../img/design-lab-area.jpg");
  background-size: cover;
  padding: 50px;
  border: none !important;
  border-radius: 10px; }
  .itls-styled .design-lab h3, .itls-styled .design-lab p {
    color: white; }
  .itls-styled .design-lab h3 {
    font-size: 35px; }

.itls-styled .documents .document-block {
  border: 2px solid #EBF2F8;
  border-radius: 10px;
  margin: 1vw; }

.itls-styled .room-grid {
  display: flex;
  flex-wrap: wrap; }
  .itls-styled .room-grid .room {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 0; }
    .itls-styled .room-grid .room h4 {
      flex: 1;
      font-family: League Spartan;
      font-size: 15px;
      margin: 10px; }
    .itls-styled .room-grid .room p {
      font-size: 13px;
      margin: 10px; }
    .itls-styled .room-grid .room img {
      background-color: #ddd;
      max-width: 170px;
      margin: 10px;
      border: 1px solid #979797; }

.itls-styled .student-projects-grid {
  display: flex;
  flex-wrap: wrap; }
  .itls-styled .student-projects-grid .student-project {
    border: 2px solid #E8E8E8;
    border-radius: 5px;
    margin: 10px;
    text-align: center;
    flex-basis: 30%;
    flex-grow: 0; }
    .itls-styled .student-projects-grid .student-project h3, .itls-styled .student-projects-grid .student-project p {
      margin: 5px; }
    .itls-styled .student-projects-grid .student-project img {
      background-color: #ddd;
      max-width: 150px;
      margin: 10px;
      border-radius: 5px; }
    .itls-styled .student-projects-grid .student-project h3 {
      font-size: 16px; }
    .itls-styled .student-projects-grid .student-project .student-project-details {
      border-top: 2px solid #E7E7E7;
      margin: 0;
      padding: 10px;
      text-align: left; }
      .itls-styled .student-projects-grid .student-project .student-project-details li {
        list-style-type: none; }
      .itls-styled .student-projects-grid .student-project .student-project-details p {
        font-size: 14px; }

.itls-styled .historic-photo {
  float: right;
  max-width: 275px;
  margin-left: 20px;
  margin-bottom: 20px; }
  @media screen and (max-width: 700px) {
    .itls-styled .historic-photo {
      float: none;
      display: block; } }
